body{
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
/* navbar */
.navbar{
    height: 5rem;
    background-color: white;
    /* position: sticky !important;
    top: 0; */
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}
.show{
    overflow-x: hidden;
}
/* footer */
footer{
    width: 100vw;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: space-evenly; */
}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1.5rem;
}

/* .f-info{
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1.5rem;
} */

/* Filters */
#filters .tax-toggle{
    margin-right: 4.75rem;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}
/* card effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

/* Map */
#map{
    height: 400px;
    width: 80vh;
}

.tax-info{
    display: none;
  }
  .mapboxgl-ctrl-icon, .mapboxgl-ctrl-attrib-button{
    display: none !important;
  }
@media(max-width: 1115px){
    #map{
        width: 456px;
    }
}  
@media(max-width: 991px){
    #map{
        width: 425px;
    }
    .listing-card-img{
        width: 450px !important;
    }
} 
@media (max-width: 767px){
    .edit-btn{
        width: 51px !important;
    }
    .navbar-collapse{
        background-color: grey;
        /* border-radius: 25px; */
        display: flex;
        margin-top: 15px;
        padding: 2rem;
        border-radius: 25px;
    }
    .starability-result{
        display: none;
    }
    .search-sect{
        width: 285px;
    }
    .container{
        margin-left: 26px !important;
    }
    #filters{
        margin-left: 150px !important;
    }
    .listing-card-index{
        margin-left: 50px !important;
    }
    .show_list{
        width: 425px !important;
        height: 225px !important;
    }
    .img-index{
        width: 255px !important;
        height: 225px !important;
    }
    .signup-container, .login-container{
       margin: auto;
       width: 750px;
    }
}
@media (max-width: 740px){
    .signup-container, .login-container{
       width: 700px;
     }
    .container{
        margin-left: 26px !important;
    }
}
@media (max-width: 700px){
    .container{
        margin-left: 6px !important;
    }
}
@media (max-width: 660px){
    .container{
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
}
@media (max-width: 640px){
    .container{
        margin-left: -12px !important;
    }
}
@media (max-width: 620px){
    .container{
        margin-left: -24px !important;
    }
}
@media (max-width: 610px){
    .container{
        margin-left: -36px !important;
    }
    .new{
        margin-left: 24px !important;
    }
}
@media (max-width: 595px){
    .new{
        margin-left: 36px !important;
    }
    .search-btn{
        display:none !important;
    }
    .container{
        margin-left: -48px !important;
    }
    .card-col{
        margin-left: 3px !important;
    }
}
@media(max-width: 576px){
    .new{
        margin-left: 48px !important;
    }
    .img_list{
        width: 400px !important;
    }
    .img-index{
        margin-left: 5px !important;
        width: 520px !important;
    }
}
@media(max-width: 566px){
    .new{
        margin-left: 60px !important;
    }
    .index-text{
        margin-left: 14px;
    }
    .img-index{
        margin-left: 14px !important;
        width: 500px !important;
    }
}
@media(max-width: 558px){
    .index-text{
        margin-left: 22px;
    }
    .img-index{
        margin-left: 22px !important;
        width: 500px !important;
    }
}
@media(max-width: 520px){
    .index-text{
        margin-left: 30px;
    }
    .img-index{
        margin-left: 30px !important;
        width: 450px !important;
    }
}
@media(max-width: 503px){
    .tax-toggle{
        display: none !important;
    }
}
@media (max-width: 570px){
    .signup-container, .login-container{
        width: 650px;
     }
    .search-sect input{
        width: 165px;
        margin-left: 2rem;
    }
    .container{
        margin-left: -60px !important;
    }
}
@media (max-width: 566px){
    .container{
        margin-left: -72px !important;
    }
}
@media (max-width: 550px){
    .collapse{
        width: 375px !important;
    }
    .container{
        margin-left: -84px !important;
    }
}
@media (max-width: 520px){
    .container{
        margin-left: -90px !important;
    }
}
@media (max-width: 480px){
    .file-input{
        padding: 6px 6px !important;
    }
    .search-sect{
        display: none !important;
    }
    .img_list{
        width: 400px !important;
    }
    canvas{
        width: 400px !important;
    }
    .container{
        margin-right: 0px !important;
    }
    .index-text{
        margin-left: 45px;
    }
    .img-index{
        margin-left: 45px !important;
        width: 400px !important;
    }
}
@media (max-width: 450px){
    .file-input{
        width: 240px !important;
    }
    .listing-create{
        width: 240px !important;
    }
    .signup-container, .login-container{
        width: 600px;
     }
    .img_list{
        width: 375px !important;
    }
    canvas{
        width: 385px !important;
    }
    .index-text{
        margin-left: 65px;
    }
    .img-index{
        margin-left: 65px !important;
        width: 360px !important;
    }
}

@media (max-width: 430px){
    .new{
        margin-left: 72px !important;
    }
    .signup-container, .login-container{
        width: 550px;
     }
    .img_list{
        width: 350px !important;
    }
    canvas{
        margin-left: -12px !important;
        width: 350px !important;
        height: 375px !important;
    }
    .container{
        margin-left: -80px !important;
    }
    .index-text{
        margin-left: 65px;
    }
    .img-index{
        margin-left: 65px !important;
        width: 300px !important;
    }
}
@media(max-width: 400px){
    .signup-container, .login-container{
        width: 500px;
     }
    .index-text{
        margin-left: 45px;
    }
    .img-index{
        margin-left: 45px !important;
        width: 300px !important;
    }
}
@media (max-width: 380px){
    .new{
        margin-left: 36px !important;
    }
    canvas{
        width: 325px !important;
        height: 350px !important;
    }
    .index-text{
        margin-left: 35px;
    }
    .img-index{
        margin-left: 35px !important;
        width: 300px !important;
    }
}